openapi: 3.1.0
info:
  title: KonbiniAPI
  version: 1.0.0
  description: 'Social media API that normalizes Instagram and TikTok data into a consistent ActivityStreams 2.0 format.


    Every authenticated response includes `X-Credits-Remaining` and `X-Credits-Used` headers. Each successful request costs
    1 credit. Requests that fail with 400, 5xx, or upstream errors are refunded (X-Credits-Used: 0).'
  contact:
    name: KonbiniAPI
    email: hello@konbiniapi.com
    url: https://konbiniapi.com
servers:
- url: https://api.konbiniapi.com
  description: Production
tags:
- name: Instagram
  description: Instagram data endpoints
- name: TikTok
  description: TikTok data endpoints
security:
- apiKey: []
components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      description: 'Send your API key in the Authorization header as a Bearer token.

        Example: `Authorization: Bearer <your-api-key>`'
  schemas:
    TikTokLink:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Link
        href:
          type: string
          format: uri
          description: Link URL
          example: https://linktr.ee/khaby.lame
        rel:
          type: string
          description: Link relation hint
          example: preferred
      required:
      - type
      - href
      description: External link
    TikTokImage:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Image
        url:
          type: string
          format: uri
          description: Image URL
          example: https://p16-sign.tiktokcdn-us.com/tos-maliva-avt-0068/avatar.jpeg
        width:
          type: integer
          description: Width in pixels
          example: 576
        height:
          type: integer
          description: Height in pixels
          example: 1024
      required:
      - type
      - url
      description: Image resource with optional dimensions
    TikTokVideo:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Video
        id:
          type: string
          format: uri
          description: Video permalink
          example: https://www.tiktok.com/@khaby.lame/video/7611615657754381599
        url:
          type: string
          format: uri
          description: Video URL
          example: https://www.tiktok.com/@khaby.lame/video/7611615657754381599
        entityId:
          type: string
          description: TikTok internal video ID
          example: '7611615657754381599'
        content:
          type: string
          description: Caption or description
          example: 'When you realize there is a simpler way #learnfromkhaby'
        published:
          type: string
          format: date-time
          description: Publication date in ISO 8601 format
          example: '2026-02-27T18:36:42.000Z'
        duration:
          type: number
          description: Duration in seconds
          example: 23
        viewCount:
          type: integer
          description: Number of views
          example: 42600000
        likeCount:
          type: integer
          description: Number of likes
          example: 2800000
        commentCount:
          type: integer
          description: Number of comments
          example: 29200
        repostCount:
          type: integer
          description: Number of reposts
          example: 0
        shareCount:
          type: integer
          description: Number of shares
          example: 157700
        saveCount:
          type: integer
          description: Number of saves
          example: 153238
        language:
          type: string
          description: Content language (BCP47 code)
          example: en
        isSponsored:
          type: boolean
          description: Whether the video is a promoted ad
          example: false
        location:
          type: object
          properties:
            type:
              type: string
              description: ActivityStreams object type
              example: Place
            id:
              type: string
              description: Location ID
              example: '213385402'
            name:
              type: string
              description: Location name or country code
              example: Los Angeles, California
            url:
              type: string
              format: uri
              description: Location page URL
            latitude:
              type: number
              description: Geographic latitude
              example: 34.0522
            longitude:
              type: number
              description: Geographic longitude
              example: -118.2437
          required:
          - type
          - name
          description: Location where the video was created
          example:
            type: Place
            name: US
        tag:
          type: array
          items:
            $ref: '#/components/schemas/TikTokTag'
          description: Hashtags and mentions
        attributedTo:
          $ref: '#/components/schemas/TikTokEmbeddedUser'
          description: Video creator
        attachment:
          type: array
          items:
            $ref: '#/components/schemas/TikTokVideoAttachment'
          description: Video files in multiple qualities
        image:
          allOf:
          - $ref: '#/components/schemas/TikTokImage'
          - description: Video thumbnail
        preview:
          allOf:
          - $ref: '#/components/schemas/TikTokImage'
          - description: Animated preview thumbnail
        audio:
          $ref: '#/components/schemas/TikTokAudio'
          description: Video audio track
      required:
      - type
      - id
      - url
      - entityId
      - published
      - viewCount
      - likeCount
      - commentCount
      - repostCount
      - shareCount
      - saveCount
      - attributedTo
      description: Video post
    TikTokTag:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Tag
        name:
          type: string
          description: Tag name
          example: learnfromkhaby
        href:
          type: string
          format: uri
          description: Tag URL
          example: https://www.tiktok.com/tag/learnfromkhaby
        id:
          type: string
          format: uri
          description: Tag permalink
          example: https://www.tiktok.com/tag/learnfromkhaby
        entityId:
          type: string
          description: TikTok internal tag ID
          example: '1697657584273413'
      required:
      - type
      - name
      description: Hashtag or mention
    TikTokEmbeddedUser:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Person
        id:
          type: string
          format: uri
          description: Profile URL
          example: https://www.tiktok.com/@khaby.lame
        url:
          type: string
          format: uri
          description: Profile URL
          example: https://www.tiktok.com/@khaby.lame
        entityId:
          type: string
          description: TikTok secUid
          example: MS4wLjABAAAAwAg0rSzO65WQfz4RzQgGv2Xdv108BgPXhRrrmNVIHQZ9PO8-flwwRtEppYTS0OjA
        name:
          type: string
          description: Display name
          example: Khabane Lame
        preferredUsername:
          type: string
          description: Username or handle
          example: khaby.lame
        summary:
          type: string
          description: Bio text
          example: Just a guy who reacts
        attachment:
          type: array
          items:
            $ref: '#/components/schemas/TikTokLink'
          description: External links in bio
        published:
          type: string
          format: date-time
          description: Account creation date in ISO 8601 format
          example: '2020-03-15T00:00:00.000Z'
        isPrivate:
          type: boolean
          description: Whether account is private
          example: false
        isVerified:
          type: boolean
          description: Whether account is verified
          example: true
        isLive:
          type: boolean
          description: Whether user is currently live streaming
          example: false
        hasLikes:
          type: boolean
          description: Whether user's liked videos are public
          example: true
        hasPlaylists:
          type: boolean
          description: Whether user has playlists
          example: true
        followerCount:
          type: integer
          description: Number of followers
          example: 160300000
        followingCount:
          type: integer
          description: Number of accounts followed
          example: 85
        language:
          type: string
          description: User language preference (BCP47 code)
          example: en
        likeCount:
          type: integer
          description: Total likes received across all content
          example: 2600000000
        likedCount:
          type: integer
          description: Number of videos the user has liked
          example: 5300
        mediaCount:
          type: integer
          description: Number of posts
          example: 1309
        icon:
          allOf:
          - $ref: '#/components/schemas/TikTokImage'
          - description: Author avatar
        image:
          type: array
          items:
            $ref: '#/components/schemas/TikTokImage'
          description: Profile pictures in multiple sizes
      required:
      - type
      - id
      - url
      - isPrivate
      - isVerified
      description: Compact user profile for embedded contexts
    TikTokVideoAttachment:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Video
        name:
          type: string
          description: Quality label (e.g. h264_540p_829898-0)
          example: normal_540_0
        url:
          type: array
          items:
            type: string
            format: uri
          description: Media download URLs
          example:
          - https://v19-webapp.tiktok.com/video/tos/us/tos-useast5-ve-0068c004/video.mp4
        headers:
          $ref: '#/components/schemas/TikTokVideoAttachmentHeaders'
          description: Authentication headers for video download
        mediaType:
          type: string
          description: MIME type
          example: video/mp4
        codec:
          type: string
          description: Video codec (e.g. h264, h265)
          example: h264
        width:
          type: integer
          description: Width in pixels
          example: 576
        height:
          type: integer
          description: Height in pixels
          example: 1024
        bitrate:
          type: integer
          description: Bitrate in bits per second
          example: 1101943
      required:
      - type
      - name
      - url
      - mediaType
      - codec
      - width
      - height
      - bitrate
      description: Video media file with download details
    TikTokVideoAttachmentHeaders:
      type: object
      properties:
        Cookie:
          type: string
          description: Required cookie header for video download
          example: tt_chain_token=sTA6PK6OnvhW7YemGVwMig==
        Referer:
          type: string
          description: Required referer header for video download
          example: https://www.tiktok.com/
      required:
      - Cookie
      - Referer
      description: HTTP headers required for authenticated media download
    TikTokAudio:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Audio
        id:
          type: string
          format: uri
          description: Audio permalink
          example: https://www.tiktok.com/music/original-sound-7611615657754381599
        url:
          type: string
          format: uri
          description: Audio playback URL
          example: https://sf16-ies-music.tiktokcdn.com/obj/tos-alisg-v/123456
        name:
          type: string
          description: Track name
          example: original sound
        duration:
          type: number
          description: Duration in seconds
          example: 23
        mediaType:
          type: string
          description: MIME type
          example: audio/mpeg
        attributedTo:
          anyOf:
          - $ref: '#/components/schemas/TikTokEmbeddedUser'
          - type: array
            items:
              $ref: '#/components/schemas/TikTokEmbeddedUser'
          description: Audio creator or artist
        icon:
          allOf:
          - $ref: '#/components/schemas/TikTokImage'
          - description: Thumbnail image
        image:
          type: array
          items:
            $ref: '#/components/schemas/TikTokImage'
          description: Cover images in multiple sizes
        entityId:
          type: string
          description: Audio ID
          example: '7493556331997071377'
        album:
          type: string
          description: Album name
          example: Greatest Hits
        isOriginal:
          type: boolean
          description: Whether audio is user-created vs a licensed track
          example: false
        isCopyrighted:
          type: boolean
          description: Whether audio has copyright restrictions
          example: false
        videoCount:
          type: integer
          description: Number of videos using this audio
          example: 500000
      required:
      - type
      - name
      - duration
      description: Audio or music track
    TikTokCollection:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: OrderedCollection
        id:
          type: string
          format: uri
          description: Collection permalink
          example: https://www.tiktok.com/@khaby.lame/playlist/7200000000000000001
        name:
          type: string
          description: Collection name
          example: Best of 2025
        image:
          allOf:
          - $ref: '#/components/schemas/TikTokImage'
          - description: Collection cover image
        totalItems:
          type:
          - integer
          - 'null'
          description: Number of items in collection
          example: 42
        entityId:
          type: string
          description: TikTok internal collection ID
          example: '7200000000000000001'
        attributedTo:
          allOf:
          - $ref: '#/components/schemas/TikTokEmbeddedUser'
          - description: Collection owner
      required:
      - type
      - id
      - name
      - totalItems
      - entityId
      - attributedTo
      description: Video collection or playlist
    TikTokStory:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Video
        id:
          type: string
          format: uri
          description: Story permalink
          example: https://www.tiktok.com/@khaby.lame/video/7600000000000000000
        url:
          type: string
          format: uri
          description: Story URL
          example: https://www.tiktok.com/@khaby.lame/video/7600000000000000000
        entityId:
          type: string
          description: TikTok internal story ID
          example: '7600000000000000000'
        content:
          type: string
          description: Caption or description
          example: 'When you realize there is a simpler way #learnfromkhaby'
        published:
          type: string
          format: date-time
          description: Publication date in ISO 8601 format
          example: '2026-02-27T18:36:42.000Z'
        endTime:
          type: string
          format: date-time
          description: Story expiration date in ISO 8601 format
          example: '2026-02-28T18:36:42.000Z'
        viewCount:
          type: integer
          description: Number of views
          example: 42600000
        likeCount:
          type: integer
          description: Number of likes
          example: 2800000
        commentCount:
          type: integer
          description: Number of comments
          example: 29200
        repostCount:
          type: integer
          description: Number of reposts
          example: 0
        shareCount:
          type: integer
          description: Number of shares
          example: 157700
        saveCount:
          type: integer
          description: Number of saves
          example: 153238
        attributedTo:
          allOf:
          - $ref: '#/components/schemas/TikTokEmbeddedUser'
          - description: Story author
        duration:
          type: number
          description: Duration in seconds
          example: 23
        attachment:
          type: array
          items:
            $ref: '#/components/schemas/TikTokStoryAttachment'
          description: Video files
        image:
          allOf:
          - $ref: '#/components/schemas/TikTokImage'
          - description: Story thumbnail
        preview:
          allOf:
          - $ref: '#/components/schemas/TikTokImage'
          - description: Animated preview thumbnail
        audio:
          allOf:
          - $ref: '#/components/schemas/TikTokAudio'
          - description: Story audio track
      required:
      - type
      - id
      - url
      - entityId
      - published
      - viewCount
      - likeCount
      - commentCount
      - repostCount
      - shareCount
      - saveCount
      - attributedTo
      description: Story post
    TikTokStoryAttachment:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Video
        url:
          type: array
          items:
            type: string
            format: uri
          description: Media download URLs
          example:
          - https://v19-webapp.tiktok.com/video/tos/us/tos-useast5-ve-0068c004/story.mp4
        mediaType:
          type: string
          description: MIME type
          example: video/mp4
        width:
          type: integer
          description: Width in pixels
          example: 576
        height:
          type: integer
          description: Height in pixels
          example: 1024
        name:
          type: string
          description: Quality label
          example: normal_540_0
        headers:
          allOf:
          - $ref: '#/components/schemas/TikTokVideoAttachmentHeaders'
          - description: Authentication headers for story download
        codec:
          type: string
          description: Video codec
          example: h264
        bitrate:
          type: integer
          description: Bitrate in bits per second
          example: 1101943
      required:
      - type
      - url
      description: Story media file
    TikTokLiveStreamAttachment:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Video
        url:
          type: array
          items:
            type: string
            format: uri
          description: Media download URLs
          example:
          - https://webcast.tiktok.com/live/pull/l4/stream.flv
        mediaType:
          type: string
          description: MIME type
          example: video/x-flv
        width:
          type: integer
          description: Width in pixels
          example: 576
        height:
          type: integer
          description: Height in pixels
          example: 1024
        name:
          type: string
          description: Stream quality label
          example: flv
        codec:
          type: string
          description: Video codec
          example: h264
        bitrate:
          type: integer
          description: Bitrate in bits per second
          example: 2500000
      required:
      - type
      - url
      - mediaType
      - name
      description: Live stream media source
    TikTokComment:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Note
        id:
          type: string
          format: uri
          description: Comment permalink
          example: https://www.tiktok.com/@khaby.lame/video/7611615657754381599/comment/7611646895321105170
        url:
          type: string
          format: uri
          description: Comment permalink
          example: https://www.tiktok.com/@khaby.lame/video/7611615657754381599/comment/7611646895321105170
        entityId:
          type: string
          description: TikTok internal comment ID
          example: '7611646895321105170'
        content:
          type: string
          description: Comment text
          example: This man hasn't been in my fyp for so long
        language:
          type: string
          description: Comment language code
          example: en
        published:
          type: string
          format: date-time
          description: Publication date in ISO 8601 format
          example: '2026-02-27T20:37:38.000Z'
        likeCount:
          type: integer
          description: Number of likes
          example: 93210
        replyCount:
          type: integer
          description: Number of replies
          example: 96
        status:
          type: string
          description: Moderation status
          example: '1'
        isPinned:
          type: boolean
          description: Whether comment is pinned
          example: false
        isLiked:
          type: boolean
          description: Whether comment is liked by the video author
          example: false
        attributedTo:
          allOf:
          - $ref: '#/components/schemas/TikTokEmbeddedUser'
          - description: Comment author
        inReplyTo:
          type: string
          format: uri
          description: URL of parent content
          example: https://www.tiktok.com/@khaby.lame/video/7611615657754381599
      required:
      - type
      - id
      - content
      - likeCount
      - attributedTo
      description: Video comment
    InstagramLink:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Link
        href:
          type: string
          format: uri
          description: Link URL
          example: https://linktr.ee/khabylame
        rel:
          type: string
          description: Link relation hint
          example: preferred
      required:
      - type
      - href
      description: External link
    InstagramImage:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Image
        url:
          type: string
          format: uri
          description: Image URL
          example: https://scontent.cdninstagram.com/v/t51.2885-19/avatar.jpg
      required:
      - type
      - url
      description: Image resource
    InstagramPost:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Video
        id:
          type: string
          format: uri
          description: Post permalink
          example: https://www.instagram.com/p/CybWViruta1/
        url:
          type: string
          format: uri
          description: Post URL
          example: https://www.instagram.com/p/CybWViruta1/
        entityId:
          type: string
          description: Post shortcode (used as lookup key)
          example: CybWViruta1
        content:
          type: string
          description: Caption or description
          example: 'When you realize there is a simpler way #learnfromkhaby'
        published:
          type: string
          format: date-time
          description: Publication date in ISO 8601 format
          example: '2026-02-27T18:36:42.000Z'
        likeCount:
          type: integer
          description: Number of likes
          example: 2800000
        commentCount:
          type: integer
          description: Number of comments
          example: 29200
        attributedTo:
          anyOf:
          - $ref: '#/components/schemas/InstagramEmbeddedUser'
          - type: array
            items:
              $ref: '#/components/schemas/InstagramEmbeddedUser'
          description: Post author or collaborators
        location:
          $ref: '#/components/schemas/InstagramLocation'
          description: Post location tag
        tag:
          type: array
          items:
            $ref: '#/components/schemas/InstagramTag'
          description: Tagged users or hashtags
        language:
          type: string
          description: Content language (BCP47 code)
          example: en
        isEdited:
          type: boolean
          description: Whether the caption has been edited
          example: false
        isSponsored:
          type: boolean
          description: Whether post is a paid partnership
          example: false
        viewCount:
          type: integer
          description: Number of views
          example: 42600000
        duration:
          type: number
          description: Duration in seconds
          example: 23
        contentFormat:
          type: string
          description: Content format (e.g. photo, video, carousel)
          example: reel
        attachment:
          type: array
          items:
            $ref: '#/components/schemas/InstagramAttachment'
          description: Media files
        image:
          $ref: '#/components/schemas/InstagramImageWithDimensions'
          description: Post cover image
        audio:
          $ref: '#/components/schemas/InstagramAudio'
          description: Post audio track
        name:
          type: string
          description: Alt text or accessibility caption
          example: Photo of Khabane Lame
        totalItems:
          type: integer
          description: Number of carousel items
          example: 5
        items:
          type: array
          items:
            $ref: '#/components/schemas/InstagramCarouselItem'
          description: Carousel slides
      required:
      - type
      - id
      - url
      - entityId
      description: Instagram post (photo, video, or carousel)
    InstagramEmbeddedUser:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Person
        id:
          type: string
          format: uri
          description: Profile URL
          example: https://www.instagram.com/khaby00/
        url:
          type: string
          format: uri
          description: Profile URL
          example: https://www.instagram.com/khaby00/
        entityId:
          type: string
          description: Platform-specific entity ID
          example: '779085683'
        preferredUsername:
          type: string
          description: Username or handle
          example: khaby00
        name:
          type: string
          description: Display name
          example: Khabane Lame
        icon:
          allOf:
          - $ref: '#/components/schemas/InstagramImage'
          - description: Author avatar
        role:
          type: string
          description: Role label (e.g. collaborator)
          example: collaborator
      required:
      - type
      - id
      - url
      - entityId
      - preferredUsername
      description: Compact user profile for embedded contexts
    InstagramLocation:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Place
        id:
          type: string
          description: Location ID
          example: '213385402'
        name:
          type: string
          description: Location name or country code
          example: Los Angeles, California
        url:
          type: string
          format: uri
          description: Location page URL
          example: https://www.instagram.com/explore/locations/213385402/
        latitude:
          type: number
          description: Geographic latitude
          example: 34.0522
        longitude:
          type: number
          description: Geographic longitude
          example: -118.2437
      required:
      - type
      - name
      description: Geographic location
    InstagramTag:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Tag
        name:
          type: string
          description: Tag name
          example: learnfromkhaby
        href:
          type: string
          format: uri
          description: Tag URL
          example: https://www.instagram.com/explore/tags/learnfromkhaby/
      required:
      - type
      - name
      - href
      description: Hashtag or user mention
    InstagramAttachment:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Video
        url:
          type: array
          items:
            type: string
            format: uri
          description: Media download URLs
          example:
          - https://scontent.cdninstagram.com/v/t50.2886-16/video.mp4
        mediaType:
          type: string
          description: MIME type
          example: video/mp4
        width:
          type: integer
          description: Width in pixels
          example: 576
        height:
          type: integer
          description: Height in pixels
          example: 1024
      required:
      - type
      - url
      description: Media file attachment
    InstagramImageWithDimensions:
      allOf:
      - $ref: '#/components/schemas/InstagramImage'
      - type: object
        properties:
          width:
            type: integer
            description: Width in pixels
            example: 1080
          height:
            type: integer
            description: Height in pixels
            example: 1920
      description: Image resource with optional dimensions
    InstagramAudio:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Audio
        id:
          type: string
          format: uri
          description: Audio permalink
          example: https://www.instagram.com/reels/audio/293394603591002/
        entityId:
          type: string
          description: Platform-specific audio ID
          example: '293394603591002'
        name:
          type: string
          description: Track name
          example: Original audio
        artist:
          type: string
          description: Artist name
          example: khaby00
        isOriginal:
          type: boolean
          description: Whether audio is user-created vs a licensed track
          example: true
        duration:
          type: number
          description: Duration in seconds
          example: 85.216
      required:
      - type
      - entityId
      - name
      - artist
      - isOriginal
      description: Audio track metadata
    InstagramCarouselItem:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Image
        entityId:
          type: string
          description: Instagram internal media ID
          example: '3214260996432123574'
        image:
          allOf:
          - $ref: '#/components/schemas/InstagramImageWithDimensions'
          - description: Item thumbnail
        attachment:
          type: array
          items:
            $ref: '#/components/schemas/InstagramAttachment'
          description: Media files
        name:
          type: string
          description: Alt text
          example: Photo of Khabane Lame
      required:
      - type
      - entityId
      description: Individual slide in a carousel post
    InstagramHighlight:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: OrderedCollection
        id:
          type: string
          format: uri
          description: Collection permalink
          example: https://www.instagram.com/stories/highlights/17890000000000001/
        entityId:
          type: string
          description: Instagram internal highlight ID
          example: highlight:17890000000000001
        name:
          type: string
          description: Collection name
          example: Best of 2025
        image:
          allOf:
          - $ref: '#/components/schemas/InstagramImage'
          - description: Highlight cover image
        totalItems:
          type:
          - integer
          - 'null'
          description: Number of items in collection
          example: 42
      required:
      - type
      - id
      - entityId
      - totalItems
      description: Story highlight collection
    InstagramComment:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Note
        id:
          type: string
          format: uri
          description: Comment permalink
          example: https://www.instagram.com/p/CybWViruta1/c/17890000000000001/
        entityId:
          type: string
          description: Instagram internal comment ID
          example: '17890000000000001'
        content:
          type: string
          description: Comment text
          example: This man hasn't been in my fyp for so long
        published:
          type: string
          format: date-time
          description: Publication date in ISO 8601 format
          example: '2026-02-27T20:37:38.000Z'
        likeCount:
          type: integer
          description: Number of likes
          example: 93210
        replyCount:
          type: integer
          description: Number of replies
          example: 12
        attributedTo:
          allOf:
          - $ref: '#/components/schemas/InstagramEmbeddedUser'
          - description: Comment author
        inReplyTo:
          type: string
          format: uri
          description: Post permalink
          example: https://www.instagram.com/p/CybWViruta1/
      required:
      - type
      - id
      - entityId
      - content
      - likeCount
      - replyCount
      - attributedTo
      - inReplyTo
      description: Post comment
    InstagramStoryItem:
      type: object
      properties:
        type:
          type: string
          description: ActivityStreams object type
          example: Video
        url:
          type: string
          format: uri
          description: Story item permalink
          example: https://www.instagram.com/stories/highlights/18067016518767507/
        entityId:
          type: string
          description: Instagram internal media ID
          example: '3214260996432123580'
        published:
          type: string
          format: date-time
          description: Publication date in ISO 8601 format
          example: '2026-02-27T18:36:42.000Z'
        summary:
          type: string
          description: Accessibility caption
          example: Photo by Khabane Lame on March 13, 2026.
        isSponsored:
          type: boolean
          description: Whether story is a paid partnership
          example: false
        image:
          allOf:
          - $ref: '#/components/schemas/InstagramImageWithDimensions'
          - description: Story item thumbnail
        attachment:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/InstagramAttachment'
            - $ref: '#/components/schemas/InstagramLink'
          description: Media files and link stickers
        duration:
          type: number
          description: Duration in seconds
          example: 23
        attributedTo:
          allOf:
          - $ref: '#/components/schemas/InstagramEmbeddedUser'
          - description: Story author
      required:
      - type
      - entityId
      description: Individual story item
  parameters: {}
paths:
  /v1/tiktok/users/{username}:
    get:
      operationId: tiktokGetUser
      tags:
      - TikTok
      summary: Get User Profile
      description: Returns profile information for a TikTok user including bio, follower counts, verification status, and
        profile picture. Look up any public TikTok account by username.
      parameters:
      - schema:
          type: string
          description: TikTok username (with or without @ symbol)
          example: khaby.lame
        required: true
        description: TikTok username (with or without @ symbol)
        name: username
        in: path
      responses:
        '200':
          description: Returns the user details
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      '@context':
                        type: array
                        prefixItems:
                        - type: string
                          enum:
                          - https://www.w3.org/ns/activitystreams#
                        - type: string
                          enum:
                          - https://konbiniapi.com/ns/social#
                        description: ActivityStreams JSON-LD context
                        example:
                        - https://www.w3.org/ns/activitystreams#
                        - https://konbiniapi.com/ns/social#
                      type:
                        type: string
                        description: ActivityStreams object type
                        example: Person
                      id:
                        type: string
                        format: uri
                        description: Profile URL
                        example: https://www.tiktok.com/@khaby.lame
                      url:
                        type: string
                        format: uri
                        description: Profile URL
                        example: https://www.tiktok.com/@khaby.lame
                      entityId:
                        type: string
                        description: TikTok secUid
                        example: MS4wLjABAAAAwAg0rSzO65WQfz4RzQgGv2Xdv108BgPXhRrrmNVIHQZ9PO8-flwwRtEppYTS0OjA
                      name:
                        type: string
                        description: Display name
                        example: Khabane Lame
                      preferredUsername:
                        type: string
                        description: Username or handle
                        example: khaby.lame
                      summary:
                        type: string
                        description: Bio text
                        example: Just a guy who reacts
                      attachment:
                        type: array
                        items:
                          $ref: '#/components/schemas/TikTokLink'
                        description: External links in bio
                      published:
                        type: string
                        format: date-time
                        description: Account creation date in ISO 8601 format
                        example: '2020-03-15T00:00:00.000Z'
                      isPrivate:
                        type: boolean
                        description: Whether account is private
                        example: false
                      isVerified:
                        type: boolean
                        description: Whether account is verified
                        example: true
                      isLive:
                        type: boolean
                        description: Whether user is currently live streaming
                        example: false
                      hasLikes:
                        type: boolean
                        description: Whether user's liked videos are public
                        example: true
                      hasPlaylists:
                        type: boolean
                        description: Whether user has playlists
                        example: true
                      followerCount:
                        type: integer
                        description: Number of followers
                        example: 160300000
                      followingCount:
                        type: integer
                        description: Number of accounts followed
                        example: 85
                      language:
                        type: string
                        description: User language preference (BCP47 code)
                        example: en
                      likeCount:
                        type: integer
                        description: Total likes received across all content
                        example: 2600000000
                      likedCount:
                        type: integer
                        description: Number of videos the user has liked
                        example: 5300
                      mediaCount:
                        type: integer
                        description: Number of posts
                        example: 1309
                      icon:
                        $ref: '#/components/schemas/TikTokImage'
                        description: User profile picture
                      image:
                        type: array
                        items:
                          $ref: '#/components/schemas/TikTokImage'
                        description: Profile pictures in multiple sizes
                    required:
                    - '@context'
                    - type
                    - id
                    - url
                    - entityId
                    - name
                    - preferredUsername
                    - isPrivate
                    - isVerified
                    - isLive
                    - followerCount
                    - followingCount
                    - likeCount
                    - mediaCount
                required:
                - data
        '400':
          description: Bad Request — Invalid parameters
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - validation_error
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Validation error
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '401':
          description: Unauthorized — Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - missing_api_key
                          - invalid_api_key
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Invalid API key
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '402':
          description: Payment Required — Credits exhausted
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - credits_exhausted
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Credits exhausted. Upgrade your plan at konbiniapi.com
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '403':
          description: Forbidden — API key disabled or expired
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - api_key_disabled
                          - api_key_expired
                          description: Machine-readable error code
                        message:
                          type: string
                          example: API key is disabled
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '404':
          description: Not Found
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - not_found
                          - route_not_found
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Not found
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '500':
          description: Internal Server Error
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - internal_error
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Internal error
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '502':
          description: Bad Gateway — Upstream platform error
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - platform_error
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Platform error
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '503':
          description: Service Unavailable
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - service_unavailable
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Service unavailable
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
  /v1/tiktok/users/{username}/videos:
    get:
      operationId: tiktokGetUserVideos
      tags:
      - TikTok
      summary: Get User Videos
      description: Returns a paginated list of videos from a user's profile. Supports sorting by newest, popular, or oldest.
        Maximum 35 videos per page.
      parameters:
      - schema:
          type: string
          description: TikTok username (with or without @ symbol)
          example: khaby.lame
        required: true
        description: TikTok username (with or without @ symbol)
        name: username
        in: path
      - schema:
          type: integer
          minimum: 1
          maximum: 35
          default: 35
          description: 'Number of videos to fetch (maximum: 35)'
          example: 35
        required: false
        description: 'Number of videos to fetch (maximum: 35)'
        name: count
        in: query
      - schema:
          type: string
          default: '0'
          description: Pagination cursor
          example: '0'
        required: false
        description: Pagination cursor
        name: cursor
        in: query
      - schema:
          type: string
          enum:
          - newest
          - popular
          - oldest
          default: newest
          description: 'Sort order: newest (default), popular, or oldest'
          example: newest
        required: false
        description: 'Sort order: newest (default), popular, or oldest'
        name: order
        in: query
      responses:
        '200':
          description: Returns the user videos
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      '@context':
                        type: array
                        prefixItems:
                        - type: string
                          enum:
                          - https://www.w3.org/ns/activitystreams#
                        - type: string
                          enum:
                          - https://konbiniapi.com/ns/social#
                        description: ActivityStreams JSON-LD context
                        example:
                        - https://www.w3.org/ns/activitystreams#
                        - https://konbiniapi.com/ns/social#
                      type:
                        type: string
                        description: ActivityStreams collection type
                        example: OrderedCollectionPage
                      partOf:
                        type: string
                        format: uri
                        description: URL of the full collection
                        example: https://api.konbiniapi.com/v1/tiktok/users/khaby.lame/videos
                      totalItems:
                        type:
                        - integer
                        - 'null'
                        description: Total number of items, null if unknown
                        example: 1309
                      cursor:
                        type:
                        - string
                        - 'null'
                        description: Current page cursor, null on first page
                        example: '0'
                      nextCursor:
                        type:
                        - string
                        - 'null'
                        description: Cursor for the next page, null on last page
                        example: '1772217402000'
                      next:
                        type:
                        - string
                        - 'null'
                        format: uri
                        description: URL for the next page, null on last page
                        example: https://api.konbiniapi.com/v1/tiktok/users/khaby.lame/videos?cursor=1772217402000&count=30
                      itemCount:
                        type: integer
                        description: Number of items returned in this page
                        example: 30
                      orderedItems:
                        type: array
                        items:
                          $ref: '#/components/schemas/TikTokVideo'
                        description: Items in this page
                    required:
                    - '@context'
                    - type
                    - partOf
                    - totalItems
                    - cursor
                    - nextCursor
                    - next
                    - itemCount
                    - orderedItems
                required:
                - data
        '400':
          description: Bad Request — Invalid parameters
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - validation_error
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Validation error
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '401':
          description: Unauthorized — Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - missing_api_key
                          - invalid_api_key
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Invalid API key
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '402':
          description: Payment Required — Credits exhausted
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - credits_exhausted
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Credits exhausted. Upgrade your plan at konbiniapi.com
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '403':
          description: Forbidden — API key disabled or expired
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - api_key_disabled
                          - api_key_expired
                          description: Machine-readable error code
                        message:
                          type: string
                          example: API key is disabled
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '404':
          description: Not Found
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - not_found
                          - route_not_found
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Not found
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '500':
          description: Internal Server Error
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - internal_error
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Internal error
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '502':
          description: Bad Gateway — Upstream platform error
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - platform_error
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Platform error
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '503':
          description: Service Unavailable
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - service_unavailable
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Service unavailable
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
  /v1/tiktok/users/{username}/likes:
    get:
      operationId: tiktokGetUserLikes
      tags:
      - TikTok
      summary: Get User Liked Videos
      description: 'Returns a paginated list of videos liked by a TikTok user. Note: Users may have their likes set to private,
        in which case an empty list will be returned.'
      parameters:
      - schema:
          type: string
          description: TikTok username (with or without @ symbol)
          example: khaby.lame
        required: true
        description: TikTok username (with or without @ symbol)
        name: username
        in: path
      - schema:
          type: integer
          minimum: 1
          maximum: 35
          default: 35
          description: 'Number of videos to fetch (maximum: 35)'
          example: 35
        required: false
        description: 'Number of videos to fetch (maximum: 35)'
        name: count
        in: query
      - schema:
          type: string
          default: '0'
          description: Pagination cursor
          example: '0'
        required: false
        description: Pagination cursor
        name: cursor
        in: query
      responses:
        '200':
          description: Returns the user liked videos
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      '@context':
                        type: array
                        prefixItems:
                        - type: string
                          enum:
                          - https://www.w3.org/ns/activitystreams#
                        - type: string
                          enum:
                          - https://konbiniapi.com/ns/social#
                        description: ActivityStreams JSON-LD context
                        example:
                        - https://www.w3.org/ns/activitystreams#
                        - https://konbiniapi.com/ns/social#
                      type:
                        type: string
                        description: ActivityStreams collection type
                        example: OrderedCollectionPage
                      partOf:
                        type: string
                        format: uri
                        description: URL of the full collection
                        example: https://api.konbiniapi.com/v1/tiktok/users/khaby.lame/likes
                      totalItems:
                        type:
                        - integer
                        - 'null'
                        description: Total number of items, null if unknown
                        example: 1309
                      cursor:
                        type:
                        - string
                        - 'null'
                        description: Current page cursor, null on first page
                        example: '0'
                      nextCursor:
                        type:
                        - string
                        - 'null'
                        description: Cursor for the next page, null on last page
                        example: '1772217402000'
                      next:
                        type:
                        - string
                        - 'null'
                        format: uri
                        description: URL for the next page, null on last page
                        example: https://api.konbiniapi.com/v1/tiktok/users/khaby.lame/likes?cursor=1772217402000&count=30
                      itemCount:
                        type: integer
                        description: Number of items returned in this page
                        example: 30
                      orderedItems:
                        type: array
                        items:
                          $ref: '#/components/schemas/TikTokVideo'
                        description: Items in this page
                    required:
                    - '@context'
                    - type
                    - partOf
                    - totalItems
                    - cursor
                    - nextCursor
                    - next
                    - itemCount
                    - orderedItems
                required:
                - data
        '400':
          description: Bad Request — Invalid parameters
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - validation_error
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Validation error
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '401':
          description: Unauthorized — Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - missing_api_key
                          - invalid_api_key
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Invalid API key
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '402':
          description: Payment Required — Credits exhausted
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - credits_exhausted
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Credits exhausted. Upgrade your plan at konbiniapi.com
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '403':
          description: Forbidden — API key disabled or expired
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - api_key_disabled
                          - api_key_expired
                          description: Machine-readable error code
                        message:
                          type: string
                          example: API key is disabled
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '404':
          description: Not Found
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - not_found
                          - route_not_found
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Not found
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '500':
          description: Internal Server Error
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - internal_error
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Internal error
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '502':
          description: Bad Gateway — Upstream platform error
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - platform_error
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Platform error
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '503':
          description: Service Unavailable
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - service_unavailable
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Service unavailable
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
  /v1/tiktok/users/{username}/reposts:
    get:
      operationId: tiktokGetUserReposts
      tags:
      - TikTok
      summary: Get User Reposts
      description: 'Returns a paginated list of videos reposted by a TikTok user. Note: Users may have their reposts set to
        private, in which case an empty list will be returned.'
      parameters:
      - schema:
          type: string
          description: TikTok username (with or without @ symbol)
          example: khaby.lame
        required: true
        description: TikTok username (with or without @ symbol)
        name: username
        in: path
      - schema:
          type: integer
          minimum: 1
          maximum: 30
          default: 30
          description: 'Number of videos to fetch (maximum: 30)'
          example: 30
        required: false
        description: 'Number of videos to fetch (maximum: 30)'
        name: count
        in: query
      - schema:
          type: string
          default: '0'
          description: Pagination cursor
          example: '0'
        required: false
        description: Pagination cursor
        name: cursor
        in: query
      - schema:
          type: string
          enum:
          - newest
          - popular
          - oldest
          default: newest
          description: 'Sort order: newest (default), popular, or oldest'
          example: newest
        required: false
        description: 'Sort order: newest (default), popular, or oldest'
        name: order
        in: query
      responses:
        '200':
          description: Returns the user reposts
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      '@context':
                        type: array
                        prefixItems:
                        - type: string
                          enum:
                          - https://www.w3.org/ns/activitystreams#
                        - type: string
                          enum:
                          - https://konbiniapi.com/ns/social#
                        description: ActivityStreams JSON-LD context
                        example:
                        - https://www.w3.org/ns/activitystreams#
                        - https://konbiniapi.com/ns/social#
                      type:
                        type: string
                        description: ActivityStreams collection type
                        example: OrderedCollectionPage
                      partOf:
                        type: string
                        format: uri
                        description: URL of the full collection
                        example: https://api.konbiniapi.com/v1/tiktok/users/khaby.lame/reposts
                      totalItems:
                        type:
                        - integer
                        - 'null'
                        description: Total number of items, null if unknown
                        example: 1309
                      cursor:
                        type:
                        - string
                        - 'null'
                        description: Current page cursor, null on first page
                        example: '0'
                      nextCursor:
                        type:
                        - string
                        - 'null'
                        description: Cursor for the next page, null on last page
                        example: '1772217402000'
                      next:
                        type:
                        - string
                        - 'null'
                        format: uri
                        description: URL for the next page, null on last page
                        example: https://api.konbiniapi.com/v1/tiktok/users/khaby.lame/reposts?cursor=1772217402000&count=30
                      itemCount:
                        type: integer
                        description: Number of items returned in this page
                        example: 30
                      orderedItems:
                        type: array
                        items:
                          $ref: '#/components/schemas/TikTokVideo'
                        description: Items in this page
                    required:
                    - '@context'
                    - type
                    - partOf
                    - totalItems
                    - cursor
                    - nextCursor
                    - next
                    - itemCount
                    - orderedItems
                required:
                - data
        '400':
          description: Bad Request — Invalid parameters
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - validation_error
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Validation error
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '401':
          description: Unauthorized — Missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - missing_api_key
                          - invalid_api_key
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Invalid API key
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '402':
          description: Payment Required — Credits exhausted
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - credits_exhausted
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Credits exhausted. Upgrade your plan at konbiniapi.com
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '403':
          description: Forbidden — API key disabled or expired
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - api_key_disabled
                          - api_key_expired
                          description: Machine-readable error code
                        message:
                          type: string
                          example: API key is disabled
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '404':
          description: Not Found
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - not_found
                          - route_not_found
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Not found
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '500':
          description: Internal Server Error
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - internal_error
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Internal error
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '502':
          description: Bad Gateway — Upstream platform error
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - platform_error
                          description: Machine-readable error code
                        message:
                          type: string
                          example: Platform error
                          description: Human-readable error message
                      required:
                      - code
                      - message
                    description: List of errors
                  data:
                    type: 'null'
                    description: Always null for error responses
                required:
                - errors
                - data
        '503':
          description: Service Unavailable
          headers:
            X-Credits-Remaining:
              schema:
                type: integer
              description: Credits remaining after this request
            X-Credits-Used:
              schema:
                type: integer
              description: Credits consumed (1 if charged, 0 if refunded on error)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          enum:
                          - service_unavailable
[...]
